.the{
    line-height: 0px;
    font-size: 60px;
    text-align: center;

}
.new{
   line-height: 250px;
    font-size: 350px;
    margin: 0px;
    text-align: center;

    font-family: Brush Script MT;
} 
.don{
    /* position: absolute; */
    left:10px;
    text-indent: 100px;
}